.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 6px;

  > .logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    padding: 0 2.5px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    line-height: 1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

    > .L {
      color: #333;
    }

    > .J {
      color: #0ba8ff;
    }

    > .S {
      color: #0ba8ff;
    }
  }

  > h1 {
    font-size: 30px;

    > .Literal {
      color: #444;
      text-transform: uppercase;
      font-size: 24px;
    }

    > .JS {
      color: #0ba8ff;
      font-size: 24px;
      margin-left: 2.5px;
    }
  }

  > a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    border: 1px solid #333;
    margin-top: 40px;
    transition: all 0.3s ease-in;
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;

    &:hover {
      background-color: lighten(#333, 10%);
    }
  }
}
